*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

nav{
    width: 100vw;
    text-align: center;
}

.logo p{
    font-family: "Rock Salt", cursive;
    color: #393939;
    font-size: 2em;
}

h1{
    color: #ead331;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 1em;
    line-height: 1em;
}

.hero-image-container{
    height: 90vh;
    background-image: url(../img/pug-beanie-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: -12.5em;
}

h2{
    background-color: #ead331;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.step-container{
    margin: 2em 0;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0 1em;
    text-align: center;
}

.step{
    color:#ead331;
    font-size: 3rem;
    font-weight: bold;
}

.menu-container{
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2em 1em;
}

.menu-container-one{
    background-image: url(../img/begging-img-01.jpg);
}

.menu-container-two{
    background-image: url(../img/food.png);
    background-size: 50%;
}

.menu-container-three{
    background-color: #ead331;
    text-align: center;
    align-content: center;
}

footer{
    background-color:#393939;
    color: #fff;
    text-align: center;
    padding: 2em 2em;
}

footer p{
    margin-bottom: 2em;
}

form{
 display: flex;
 flex-direction: column;
}

input[type="email"], input[type="submit"]{
    border: none;
    border-radius: 25px;
    padding: 1em;
    margin-bottom: 1em;
}

input[type="submit"]{
    background-color: #ead331;
    margin-bottom: 3em;
}

.social-icons{
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.social-icons img{
    width: 3em;
    margin-bottom: 1em;
}

@media only screen and (min-width: 601px) and (max-width: 900px){

    .hero-image-container{
        background-position: center;
    }
    .steps{
        padding: 0 2em;
    }

    .step-container{
        display: flex;
        align-items: center;
        gap: 1em;
        text-align: left;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
    }

    .menu h2, .menu-container-three{
        width: 100%;
        background-color: transparent;
    }

    .menu-container-one, .menu-container-two{
        width: 50%;
    }

    .footer-end{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px){
    nav{
        background-color: #fff;
    }
    .hero{
        background-color: #ead331;
        display: flex;
        justify-content: right;
    }

    .hero-image-container{
        width: 50%;
        max-height: 60vh;
        margin-top:0;
        background-position: bottom;
    }

    h1{
        color: #fff;
    }

    h2{
        background-color: transparent;
        color: #ead331;
        font-size: 3.5em;
    }

    .steps{
        display: flex;
        justify-content: space-around;
        gap: 1em;
    }
    .step-container{
        background-color: #fff;
        width: 30%;
        border-radius: 10px;
        padding: 1em;
        -webkit-box-shadow: 10px 10px 38px -25px rgba(0,0,0,1);
        -moz-box-shadow: 10px 10px 38px -25px rgba(0,0,0,1);
        box-shadow: 10px 10px 38px -25px rgba(0,0,0,1);
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2em;
    }

    .menu-container{
        width: 30%;
        border-radius: 10px;
    }

    .menu h2{
        width: 100%;
    }

    .footer-end{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 1201px){

    body{
        max-width: 1201px;
        margin: 0 auto;
    }
}

